/*------------------------------------*\
#BUTTONS
\*------------------------------------*/

.button {
  min-width: 100px;
  height: 48px;
  padding: 15px 30px;
  font-size: 1rem;
  color: $color-main;
  border: 1.5px solid $color-main;
  border-radius: 5px;
  background-color: $color-text-light;
  cursor: pointer;

  &:hover {
    background-color: $color-main;
    color: $color-text-light;
  }
}

.secundary-button {
  color: $color-text-light;
  border: 1.5px solid $color-contrast;
  background-color: $color-contrast;

  &:hover {
    color: $color-text;
    background-color: $color-text-light;
  }
}
