<footer class="footer">
    <div class="container footer__container">
        <div class="footer__interest-links">
            <ul class="footer__slogan">
                <li><a href="#" class="footer__link">Descubre la belleza de Varsovia</a></li>
                <li><a href="#" class="footer__link">&copy; 2024 VARSOVIAJES</a></li>
            </ul>
            <ul class="footer__social">
                <li>Síguenos en
                    <ul class="footer__social-icons">
                        <li><a href="#"><img src="assets/images/icons/twitter.svg" alt="Icono de Twitter" class="footer__social-icon img-fluid"></a></li>
                        <li><a href="#"><img src="assets/images/icons/instagram.svg" alt="Icono de Instagram" class="footer__social-icon img-fluid"></a></li>
                        <li><a href="#"><img src="assets/images/icons/youtube.svg" alt="Icono de Youtube" class="footer__social-icon img-fluid"></a></li>
                        <li><a href="#"><img src="assets/images/icons/facebook.svg" alt="Icono de Facebook" class="footer__social-icon img-fluid"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="footer__privacity-links">
            <ul class="footer__privacy">
                <li><a href="#" class="footer__link">Política de privacidad</a></li>
                <li><a href="#" class="footer__link">Política de cookies</a></li>
                <li><a href="#" class="footer__link">Términos y condiciones</a></li>
            </ul>
        </div>
    </div>
</footer>
