
<header class="header">
    <div class="container header__container">
        <a class="header__logo-link" href="index.html">
            <h2 class="header__logo-web"><i class="fa-sharp fa-solid fa-plane"></i>VARSOVIAJES</h2>
        </a> 
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item"><a href="#" class="header__nav-link">Atracciones</a></li>
                <li class="header__nav-item"><a href="#" class="header__nav-link">Eventos</a></li>
                <li class="header__nav-item"><a href="#" class="header__nav-link">Gastronomía</a></li>
            </ul>
        </nav>
    </div>
</header>
