<section class="newsletter newsletter-block">
    <form name="suscribe-container" class="newsletter__form" action="#" method="post">
        <fieldset class="newsletter__fieldset">
            <legend class="newsletter__legend"><h2 class="newsletter__title">Newsletter</h2></legend>
            <label class="newsletter__form-label" for="email">Reciba un correo electrónico semanal con las últimas noticias, eventos y mejores restaurantes de Varsovia</label>
            <div class="newsletter__form-group">
                <input type="email" placeholder="Su correo electrónico..." name="email" id="email" class="newsletter__input" required>
                <input class="button secundary-button" type="submit" value="Suscribirse">
            </div>
        </fieldset>
    </form>
</section>
