/*------------------------------------*\
#LIST
\*------------------------------------*/

.special-list {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;

    li {
      flex: 1; 
      margin: 10px;
      list-style: none;
      color: $color-text;
      font-weight: 900;
      text-transform: uppercase;
    }
  }

  @media (min-width: 576px) {
    ul {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (min-width: 768px) {
    ul {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
